<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
    <context:component-scan base-package="com.cl.ytsignin"/>
    <bean id="defaultExceptionHandler2" class="com.cl.ytsignin.controller.DefaultExceptionHandler"/>
    <!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
    <context:component-scan base-package="com.seayon.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <mvc:annotation-driven/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <!--管理员的不拦截页面-->
            <mvc:exclude-mapping path="/admin/login"/>
            <mvc:exclude-mapping path="/admin/Auth"/>
            <mvc:exclude-mapping path="/resource/**"/>
            <mvc:exclude-mapping path="/**/**.if"/>

            <bean class="com.seayon.interceptor.AdminInterceptor"/>
        </mvc:interceptor>
        <!--普通用户页面拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/admin/login"/>
            <mvc:exclude-mapping path="/index"/>
            <mvc:exclude-mapping path="/"/>
            <mvc:exclude-mapping path="/Auth"/>
            <mvc:exclude-mapping path="/oauth"/>
            <!--Swagger2的访问排除，项目上线需要移除-->
            <mvc:exclude-mapping path="/WxService"/>
            <mvc:exclude-mapping path="/**/**.if"/>
            <mvc:exclude-mapping path="/swagger-resources/**"/>
            <mvc:exclude-mapping path="/v2/api-docs"/>
            <mvc:exclude-mapping path="/swagger*/**"/>
            <bean class="com.seayon.interceptor.IndexInterceptor"/>
        </mvc:interceptor>
        <!--需要绑定学生账户才能访问的页面-->
        <mvc:interceptor>
            <mvc:mapping path="/grade"/>
            <mvc:mapping path="/grade/**"/>
            <mvc:mapping path="/course"/>
            <mvc:mapping path="/library/user/**"/>
            <mvc:mapping path="/library/password"/>
            <bean class="com.seayon.interceptor.StudentPageInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/library/user/**"/>
            <bean class="com.seayon.interceptor.LibraryInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:default-servlet-handler/>

</beans>